<section class="logo flex a-center margin-start">
  <p class="menu-icon" (click)="collapsed()">
    <i class="fa-solid fa-bars"></i>
  </p>
  <!-- <img
    class="gb_yc"
    src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r4.png"
    alt="gmail-icon"
    aria-hidden="true"
    role="presentation"
    style="width: 109px; height: 40px"
  /> -->

  <img
    class="gb_yc"
    src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r4.png"
    alt=""
    aria-hidden="true"
    role="presentation"
    style="width: 109px; height: 40px"
  />
</section>
