@import "./../../../assets/styles/variables";

.app-header {
  align-items: center;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: $clr1;
  app-logo {
    width: 20vw;
  }
  app-search-input {
    flex: 1;
  }

  .user-actions-container {
    width: 20%;
    display: flex;
    align-items: center;

    justify-content: flex-end;
  }
  .header-content {
    width: 100vw;
    height: 100%;
    // justify-content: space-around;

    > * {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
