<section *ngIf="mail" class="mail-details">
  <!-- details-action cmp -->
  <app-details-action></app-details-action>
  <section class="mail-container">
    <h1 class="mail-subject">{{ mail.subject || "no subject" }}</h1>
    <section class="from-container flex a-center">
      <app-user-preview [user]="mail.from"></app-user-preview>
      <div class="from-actions">
        <span>{{ mail.sentAt | date }}</span>
        <span>star</span>
        <span>replay</span>
        <span>more</span>
      </div>
    </section>
    <p>{{ mail.body }}</p>
    <!-- replay forward -->
    <app-response-actions></app-response-actions>
  </section>
  <pre>{{ mail | json }}</pre>
</section>
