.mail-details {
  height: 100%;

  @import "./../../../assets/styles/_variables.scss";
  .mail-container {
    height: 90%;
    flex-direction: column;
    padding: 1rem;
    .from-container {
      justify-content: space-between;
      .from-actions {
        .action {
          background: none;
          border: none;
          margin-inline: 0.2em;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 50%;
          &:hover {
            background-color: $clr1Hover;
          }
        }
        .fa-solid {
          transition: all ease-in-out 0.2s;
          color: #222;
          font-size: 0.8rem;
          cursor: pointer;
        }
      }
    }
    .mail-body {
      flex-grow: 1;
      background-color: #fff;
      font-size: 2rem;
    }
  }
}
