<section *ngIf="mail" class="mail-details">
  <app-details-action
    (updateMail)="update($event)"
    (updateMailStatus)="setMailStatus($event)"
  ></app-details-action>
  <section class="mail-container flex">
    <h1 class="mail-subject">{{ mail.subject || "no subject" }}</h1>
    <section class="from-container flex a-center">
      <app-user-preview [user]="mail.from"></app-user-preview>
      <section class="from-actions flex a-center">
        <time>{{ mail.sentAt | date }}</time>
        <section class="actions-container flex">
          <button
            class="action flex j-center a-center"
            *ngFor="let btn of buttons"
            (click)="onAction(btn.value)"
            [title]="btn.title"
          >
            <img [src]="btn.link" [alt]="btn.title" />
          </button>
        </section>
      </section>
    </section>
    <p class="mail-body">{{ mail.body }}</p>
    <app-response-actions></app-response-actions>
  </section>
</section>
