.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  width: 100%;

  .main-view {
    display: flex;
    flex: 1;

    width: 100%;
  }
  footer,
  app-header {
    height: 10vh;
    width: 100%;
    background-color: lightcoral;
  }
}
