@import "./../../../assets/styles/variables";
.mail-preview {
  min-height: 2.5em;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid $clr3;
  padding: 0.25em 1em;
  width: 98%;
  font-weight: bold;
  &.is-read {
    font-weight: normal;
  }

  .from {
    width: 20%;
  }
  .subject {
    flex: 1;
  }
  &:hover {
    box-shadow: $shadow;
  }
}
