@import "./../../../assets/styles/variables";
.mail-preview {
  // outline: 1px solid $clr3;
  min-height: 2.5em;
  background-color: #fff;
  border-bottom: 1px solid $clr3;
  padding: 0.25em 1em;
  width: 97%;

  .date,
  .from,
  .subject {
    font-weight: bold;
  }
  .from {
    width: 20%;
  }
  .subject {
    flex: 1;
  }
  &:hover {
    box-shadow: $shadow;
  }
}
