@import "./../../../assets/styles/variables";
.mail-preview {
  // outline: 1px solid $clr3;
  min-height: 2.5em;
  background-color: #fff;
  border-bottom: 1px solid $clr3;
  padding: 0.25em 1em;
  width: 97%;

  .date,
  .from.subject {
    font-weight: bold;
  }
  .from {
    width: 20%;
  }
  .subject {
    flex: 1;
  }
  &:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
  }
}
