@import "../../../assets//styles//variables";
.details-action {
  .actions-container {
    // max-width: 50%;
  }

  .nav-container {
    .btn-set {
      .divider {
        font-size: 1em;
        align-self: center;
        color: #c3c3c3;
      }
    }
  }

  .action {
    transition: 0.2s ease;
    background: none;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    &:hover {
      background-color: $clr1Hover;
      i {
        transition: 0.2s ease;
      }
    }
    .fa-solid {
      text-align: center;
      transition: all ease-in-out 0.2s;
      color: #555;
      font-size: 1rem;
      cursor: pointer;
    }
    .more-actions {
      position: absolute;
      top: 4.5rem;
      transform: translateX(-90%);
    }
  }
}
