.details-action {
  .actions-container {
    background-color: #333;
    // max-width: 50%;
  }

  .action {
    background: none;
    border: none;
    background: #333;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    &:hover:not(.fa-ellipsis-vertical) {
      background-color: #555;
    }
    .fa-solid {
      text-align: center;
      transition: all ease-in-out 0.2s;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
