<section class="details-action">
  <div class="actions-container flex">
    <div class="nav-container flex">
      <div class="btn-set flex" *ngFor="let actionSet of actions">
        <button
          class="action flex a-center j-center"
          *ngFor="let action of actionSet"
          data-title="{{ action.title }}"
          (click)="onAction(action.value)"
        >
          <img [src]="action.icon" />
          <section class="more-actions" *ngIf="action.value === 'more'">
            <app-more-options *ngIf="isModalOpen"></app-more-options>
          </section>
        </button>
        <span class="divider">|</span>
      </div>
    </div>
  </div>
</section>
