<section
  [ngClass]="{ minimize: isMini, 'mail-compose': true, expand: isExpand }"
>
  <section class="top-bar flex a-center">
    <span class="bar-name">New message</span>
    <div class="actions-container flex">
      <button
        (click)="onMinimize()"
        title="Minimize"
        class="fa-solid fa-window-minimize"
      ></button>
      <button
        (click)="onExpand()"
        title="Expand"
        class="fa-solid fa-up-right-and-down-left-from-center"
      ></button>
      <button
        (click)="onCloseModal()"
        title="Close"
        class="fa-solid fa-xmark"
      ></button>
    </div>
  </section>
  <!-- end of top bar -->
  <section class="mail-body flex">
    <section class="mail-header flex">
      <input type="text" value="From: talamit@gmail.com" />
      <input
        type="text"
        placeholder="To"
        [(ngModel)]="mail.to"
        name="to"
        required
        pattern="gmailPattern"
      />
      <input
        type="text"
        placeholder="Subject"
        [(ngModel)]="mail.subject"
        name="subject"
      />
    </section>
    <section class="mail-content flex j-center">
      <textarea
        class="mail-content-text"
        name="content"
        [(ngModel)]="mail.body"
      ></textarea>
    </section>
    <section class="bottom-panel">
      <section class="submit-panel">
        <button class="send-btn" type="submit" (click)="sendMail()">
          Send
        </button>
      </section>
    </section>
  </section>
</section>
