@import "./../../../assets/styles/variables";
.mail-compose {
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  height: 50%;
  width: 40%;
  right: 1rem;
  box-shadow: $shadow;
  border-top-left-radius: $b-radius;
  border-top-right-radius: $b-radius;

  .top-bar {
    padding: 0.5em 0;
    justify-content: space-between;
    border-radius: inherit;
    background-color: $clr5;

    .bar-name {
      font-weight: bold;
      margin-inline-start: 1em;
    }
    .actions-container {
      justify-content: flex-end;
      height: 1.5rem;
      padding-inline-end: 0.2em;
    }
  }
  &.minimize {
    height: 5%;

    .top-bar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      justify-content: space-between;
    }
  }
  &.expand {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 85%;
    height: 80%;
    transform: translate(-50%, -50%);
  }

  .mail-body {
    flex-direction: column;
    height: 85%;
    .mail-header {
      flex-direction: column;
      padding: 0 0.5em;
      input {
        border: none;
        padding: 0.5em 0;
        &:not(:first-child) {
          border-bottom: 1px solid $clr2;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .mail-content {
      &.flex {
        flex: 1;
      }
    }
    .mail-content-text {
      width: 95%;
      border: none;
      margin: 1em auto;
      resize: none;
      // background-color: lightgray;
      font-size: 1.2em;
      color: black;
      font-style: normal;

      &:focus {
        outline: none;
      }
    }
    .bottom-panel {
      padding-inline-start: 0.5em;
      .send-btn {
        border-radius: 18px;
        padding: 0.8em 2em;
        background-color: #0b57d0;
        color: #fff;
      }
    }
  }
}
