@import "./../../../assets/styles/_variables.scss";
.user-preview {
  border-radius: 50%;

  height: 50px;
  width: 50px;
  color: #fff;
  margin: 0 1rem;
  img {
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
  }

  .letter-container {
  }

  &.isImg {
    background-color: rgb(246, 130, 130);
  }
}
