@import "./../../../assets/styles/variables";
.more-options {
  border-radius: $b-radius;
  background-color: $clr4;
  position: absolute;
  width: 14rem;
  height: 14rem;
  box-shadow: $shadow;
  z-index: 2;
}
