@import "./../../../assets//styles/variables";

.label-list {
  .side-bar-label {
    padding: 0.4em 0;
    .label-container {
      .link-container {
        flex: 1;
      }
      .label-img {
        background-repeat: no-repeat;
        .label-name {
          margin-inline-start: 2rem;
        }
      }
      .label-length {
        margin-right: 1rem;
      }
    }
    &:hover {
      background-color: $clr1Hover;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
    }
  }
}
