<section class="label-list">
  <article class="side-bar-label" *ngFor="let label of labels">
    <div class="label-container flex margin-start">
      <!-- link wrapper -->
      <a
        class="link-container"
        [routerLink]="['/mail/all']"
        [queryParams]="{ tab: label.value }"
      >
        <p style="background-image: url({{ label.icon }})" class="label-img">
          <span class="label-name">{{ label.name }}</span>
        </p>
      </a>
      <p class="label-length">{{ getLength(label.value) }}</p>
    </div>
  </article>
</section>
