<section class="label-list">
  <article
    ngClass="side-bar-label {{ label.name }}"
    *ngFor="let label of labels"
  >
    <div class="label-container margin-start flex">
      <a [routerLink]="['/mail/all']" [queryParams]="{ tab: label.value }">
        <span style="background-image: url({{ label.icon }})" class="label-img"
          >&nbsp;&nbsp;&nbsp;
        </span>
        <span class="label-name">{{ label.name }}</span>
      </a>
      <span class="label-length">14</span>
    </div>
  </article>
</section>
