@import "./../../../assets//styles/variables";

.label-list {
  .compose {
    padding: 5em;
    background-color: #c2e7ff;
    width: 10em;
    padding: 1em;
    border-radius: 1em;
    margin-inline-start: 0.3em;
    margin-bottom: 1em;
    .btn-title {
      img {
        margin-inline-end: 1em;
      }
    }
    &:hover {
      box-shadow: $shadow;
    }
  }
  .active {
    background-color: $LabelHover;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }
  .side-bar-label {
    padding: 0.4em 0;
    cursor: pointer;
    .label-container {
      .link-container {
        flex: 1;
      }

      .label-name {
        margin-inline-start: 2rem;
      }
      .label-length {
        margin-right: 1rem;
      }
    }
    &:hover {
      background-color: $LabelHover;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
    }
  }
  &.isCollapsed {
    width: 3em;
    margin-inline-start: 0.3em;
    .title,
    .label-name,
    .label-length {
      display: none;
    }
    .compose {
      width: inherit;
    }
    .active {
      border-radius: 50%;
      padding: 0.8em 0;
    }
    .side-bar-label {
      padding: 0.8em 0;
      .label-img {
        transform: translateX(-12%);
      }
      &:hover {
        background-color: $LabelHover;
        border-radius: 50%;
      }
    }
  }
}
