@import "./variables";

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

app-root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: $LabelColor;
}
p {
  margin: 0;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
// helpers
.flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.clean-list {
  margin: 0;
  list-style: none;
}
.margin-start {
  margin-inline-start: 1rem;
}
